<aside class="sidebar" id="sidebar">

    <h2 class="mb-3">
        Navigation
    </h2>

    <a href="/">
        🏠 Home
    </a>

    <a href="/dashboard">
        📊 Dashboard
    </a>

    <a href="/analyze">
        📄 Analyze Resume
    </a>

    <a href="/ranking">
        🏆 Resume Ranking
    </a>

    <a href="/interview">
        💬 Interview
    </a>

    <a href="/history">
        📜 History
    </a>

    <a href="/report">
        📑 Report
    </a>

</aside>